@font-face {
    font-family: cheddar-jack;
    src: url('../fonts/cheddarjack.ttf');
}

@font-face {
    font-family: kgthisisnotgoodbye;
    src: url('../fonts/KGThisIsNotGoodbye.ttf');
}

body {
    font-family: 'Spectral', serif;
    font-weight: 200;
}

.primary-c,
.primary-c:hover,
.primary-c:active {
    color: #16654A !important;
}

.primary-bg {
    background-color: #16654A !important;
}

.secondary-c {
    color: #98123F !important;
}

.secondary-bg {
    background-color: #98123F;
}

.secondary-c:hover,
.secondary-c:active {
    color: #723835 !important;
}

.tertiary-c {
    color: #127C98 !important;
}

.tertiary-c:hover,
.tertiary-c:active {
    color: #7DBBCB !important;
}

.cj {
    font-family: cheddar-jack;
}

#cover img {
    width: 100%;
    height: auto;
}

.jumbotron > h1 {
    font-family: cheddar-jack;
    color: #777777;
}

blockquote {
    font-weight: 200;
    margin: 0 0;
}

blockquote .fa-quote-left {
    padding-right: 10px;
}

blockquote .fa-quote-right {
    padding-left: 10px;
}

.quote img {
    width: 100%;
}

.quote .img-wrapper {
    border-radius: 50%;
    overflow: hidden;
    height: 120px;
    width: 120px;
}

#biz img {
    width: 200px;
    margin: 0 0 0 -60px;
}

#biz .img-wrapper {
    margin-left: 20px;
}

#julia img {
    width: 500px;
    margin: -30px 0 0 -255px;
}

#julia .img-wrapper {
    margin-top: 30px;
    margin-right: 20px;
}

.nav-item {
    text-align: right;
    height: 40px;
    line-height: 40px;
}

.nav-item > a {
    text-align: right;
    font-size: 2em;
    font-family: kgthisisnotgoodbye;
    color: #777777;
}

.nav-item > span {
    display: inline-block;
    float: left;
    height: 100%;
    width: 0px;

    -webkit-transition: width .5s;
    transition: width .5s;
}

.nav-item:hover a {
    text-decoration: none;
    color: #98123F;
}

.nav-item:hover span {
    width: 5px;
}

.logo {
    font-size: 6em;
    margin: 0 0 30px 0;
}