@font-face {
    font-family: cheddar-jack;
    src: url('../fonts/cheddarjack.ttf');
}

@font-face {
    font-family: kgthisisnotgoodbye;
    src: url('../fonts/KGThisIsNotGoodbye.ttf');
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: whitesmoke;
}

.primary-c,
.primary-c:hover,
.primary-c:active {
    color: #16654A !important;
}

.primary-bg {
    background-color: #16654A !important;
}

.secondary-c {
    color: #98123F !important;
}

.secondary-bg {
    background-color: #98123F;
}

.secondary-c:hover,
.secondary-c:active {
    color: #723835 !important;
}

.tertiary-c {
    color: #127C98 !important;
}

.tertiary-c:hover,
.tertiary-c:active {
    color: #7DBBCB !important;
}

.cj {
    font-family: cheddar-jack;
}

#cover img {
    width: 100%;
    height: auto;
}

.jumbotron {
    background-color: whitesmoke;
}

.jumbotron > h1 {
    font-family: cheddar-jack;
}

.jumbotron > p {
    font-size: 1.2em;
}

blockquote {
    font-weight: 200;
    margin: 0 0;
    border-left-color: #16654A;
}

.blockquote-reverse {
    border-right-color: #16654A;
}

blockquote .fa-quote-left {
    padding-right: 10px;
    color: #16654A;
}

blockquote .fa-quote-right {
    padding-left: 10px;
    color: #16654A;
}

.quote img {
    width: 100%;
}

.quote .img-wrapper {
    border-radius: 50%;
    overflow: hidden;
    height: 120px;
    width: 120px;
}

#biz img {
    width: 200px;
    margin: 0 0 0 -60px;
}

#biz .img-wrapper {
    margin-top: 30px;
    margin-left: 20px;
}

#julia img {
    width: 500px;
    margin: -30px 0 0 -255px;
}

#julia .img-wrapper {
    margin-top: 30px;
    margin-right: 20px;
}

nav li > a {
    font-size: 2em;
    font-weight: 400;
}

.navbar {
    background-color: whitesmoke;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    background-color: whitesmoke;
}

.navbar .navbar-collapse {
    text-align: center;
    width: 100%;
}

.navbar li {
    margin: 0 5px;
}

.navbar-default .navbar-nav > li > a {
    color: #16654A;
    background-color: whitesmoke;
    border-bottom: 3px solid transparent;
    font-family: kgthisisnotgoodbye;
}

.navbar-default .navbar-nav > li:hover > a {
    color: #427E6A;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

@media (max-width: 768px) {
    .navbar-toggle {
        display: inline-block;
        text-align: center;
        float: none;
        margin: 0;
        background-color: #FFFFFF;
    }
}

.logo {
    font-size: 6em;
    margin: 0 0 30px 0;
}

#social .fa {
    font-size: 3em;
    padding: 19px 27px;
}

#social .fa:hover {
    color: #FFFFFF;
    background-color: #16654A;
}