@font-face {
    font-family: cheddar-jack;
    src: url('../fonts/cheddarjack.ttf');
}

@font-face {
    font-family: kgthisisnotgoodbye;
    src: url('../fonts/KGThisIsNotGoodbye.ttf');
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: whitesmoke;
}

.primary-c,
.primary-c:hover,
.primary-c:active {
    color: #16654A !important;
}

.primary-bg {
    background-color: #16654A !important;
}

.secondary-c {
    color: #98123F !important;
}

.secondary-bg {
    background-color: #98123F;
}

.secondary-c:hover,
.secondary-c:active {
    color: #723835 !important;
}

.tertiary-c {
    color: #127C98 !important;
}

.tertiary-c:hover,
.tertiary-c:active {
    color: #7DBBCB !important;
}

.cj {
    font-family: cheddar-jack;
}

#cover img {
    width: 100%;
    height: auto;
}

.jumbotron {
    background-color: whitesmoke;
}

.jumbotron > h1 {
    font-family: cheddar-jack;
}

.jumbotron p,
.jumbotron ul {
    font-size: 1.2em;
}

blockquote {
    font-weight: 200;
    margin: 0 0;
    border-left-color: #16654A;
}

.blockquote-reverse {
    border-right-color: #16654A;
}

blockquote .fa-quote-left {
    padding-right: 10px;
    color: #16654A;
}

blockquote .fa-quote-right {
    padding-left: 10px;
    color: #16654A;
}

.quote img {
    width: 100%;
}

.quote .img-wrapper {
    border-radius: 50%;
    overflow: hidden;
    height: 120px;
    width: 120px;
}

#biz img {
    width: 200px;
    margin: 0 0 0 -60px;
}

#biz .img-wrapper {
    margin-top: 30px;
    margin-left: 20px;
}

#julia img {
    width: 500px;
    margin: -30px 0 0 -255px;
}

#julia .img-wrapper {
    margin-top: 30px;
    margin-right: 20px;
}

nav li > a {
    font-size: 2em;
    font-weight: 400;
}

.navbar {
    background-color: whitesmoke;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    background-color: whitesmoke;
}

.navbar .navbar-collapse {
    text-align: center;
    width: 100%;
}

.navbar li {
    margin: 0 5px;
}

.navbar-default .navbar-nav > li > a {
    color: #16654A;
    background-color: whitesmoke;
    border-bottom: 3px solid transparent;
    font-family: kgthisisnotgoodbye;
}

.navbar-default .navbar-nav > li:hover > a {
    color: #427E6A;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

@media (max-width: 768px) {
    .navbar-toggle {
        display: inline-block;
        text-align: center;
        float: none;
        margin: 0;
        background-color: #FFFFFF;
    }
}

.logo {
    font-size: 6em;
    margin: 0 0 30px 0;
}

#social .fa {
    font-size: 6em;
    padding: 19px 27px;
}

#social .fa:hover {
    color: #FFFFFF;
    background-color: #16654A;
}

#social .well {
    border-color: transparent;
}

.blue {
    color: #428bca;
}

.has-float-label {
    margin-bottom: 10px;
}

.has-float-label .form-control:placeholder-shown:not(:focus)+label {
    font-size: 100%;
    top: .7em;
    left: 2em;
    font-weight: 200;
    /*opacity: 1;*/
}

form input,
form textarea {
    border-radius: 4px !important;
}

/*form label {*/
    /*color: #16654A;*/
/*}*/

#contact strong {
    margin-right: 10px;
}

.btn.primary-bg {
    color: whitesmoke;
}

.btn.primary-bg:hover,
.btn.primary-bg:active {
    background-color: #427E6A !important;
}

#services ul {
    list-style: none;
    padding-left: 5px;
}

#services ul > li > .fa {
    margin-right: 10px;
    color: #16654A;
    font-size: .7em;
}

#services h4 {
    margin-top: 0;
}

#blog .tile {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    width: 100%;
    height: 300px;
    margin: 1rem;
    position: relative;
    overflow: hidden;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#blog .tile:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#blog .tile > div {
    width: 100%;
    height: 100%;
    background-color: black; /* fallback color */
    background-position: center;
    background-size: cover;
    transition: all .5s;
}

#blog .tile#test1 > div {
    background-image: url("../img/IMG_0089.JPG");
}

#blog .tile#test2 > div {
    background-image: url("../img/IMG_0090.JPG");
}

#blog .tile#test3 > div {
    background-image: url("../img/IMG_0091.JPG");
}

#blog .tile:hover > div,
#blog .tile:focus > div {
    transform: scale(1.2);
}

#blog .tile > div::before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(22, 101, 74, 0.85);
}

#blog .tile:hover > div:before,
#blog .tile:focus > div:before {
    display: block;
}

#blog .tile > div > span {
    color: whitesmoke;
    display: none;
    font-size: 2em;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#blog .tile:hover span,
#blog .tile:focus span {
    display: block;
}