<section id="about" class="row">
  <div class="jumbotron">
      <h1 class="primary-c">About MK</h1>
      <div class="row">
          <div id="headshot-container" class="col-xs-12">
              <img class="headshot vert" src="../../assets/images/cover2vert.jpg"/>
              <img class="headshot ho" src="../../assets/images/cover2.jpg"/>
          </div>
          <div id="intro-container" class="col-xs-12">
              <p>I love planning.  I love everything that goes along with planning.  But I have nothing of my own to plan, so that’s where you come in.  You are the lucky one with an amazing day ahead of you and it would be my honor to help!</p>
              <p>There was no wedding planning major at Notre Dame, so instead I became the president of a club and learned to manage a budget of 100k for 100+ people.  Plus the tailgates, don’t forget that a legendary Notre Dame Football tailgate needs proper coordination!  Then you’d think my time in DC was spent in the capital building especially since I am a West Wing junkie.  Rather I was working for a corporate event planning firm.  I have a knack for logistics and problem solving coupled with a love for people that keeps me energetic during all stages of planning.  So it was a no-brainer, I wanted to be a full-time planner.</p>
              <p>When I’m not tasting cakes or scoping out venues, I’m cheering on the Irish, playing ultimate frisbee (it’s a real sport, I swear) and walking my sister’s dog!  Plus I’m obsessed with Whitney Houston and Bruno Mars, so don’t be surprised if they somehow end up in your “must play” list for the DJ.</p>
          </div>
      </div>
  </div>
</section>