.posts-title {
    font-weight: 900;
}

.tile {
    margin: 30px;

    h1 {
        font-size: 1.8em;
        height: 50px;
    }

    .img-wrapper {
        height: 300px;
        overflow: hidden;
        border-radius: 2px;
    }
}