@import "../../constants.less";

.navbar {
    background-color: @background-c;
    height: 125px;

    &.navbar-default .navbar-nav {
        background-color: @background-c;

        > li {
            > a {
                color: @primary-c;
                background-color: @background-c;
                font-family: Mesmerize;
                font-size: 1.2em;
                line-height: 50px;
                text-transform: uppercase;

                &.disabled {
                    cursor: not-allowed;
                    color: #777777 !important;
                }

                > span {
                    padding: 2px 5px;
                }

                .boxed {
                    border: 1px solid @secondary-c;
                    color: @secondary-c;

                    &:hover {
                        background: @secondary-c;
                        color: @background-c;
                    }
                }
            }

            &:hover > a {
                color: lighten(@primary-c, 20%);
            }
        }
    }

    .navbar-header {
        padding: 5px;
    }

    .navbar-collapse {
        background-color: #fefefa;

        @media (max-width: 925px) {
            border-left: 1px solid #cbcbcb;
            border-right: 1px solid #cbcbcb;
            border-bottom: 1px solid #cbcbcb;
        }
    }
}

.logo {
    width: 300px;
    display: inline-block;

    @media (max-width: 768px) {
        width: 200px;
    }
}

#footer {
    padding: 5px 10px;
    box-shadow: 0 0 5px #cbcbcb;
}

#outlet-wrapper {
    margin-top: 125px;
}

@media (min-width: 768px) and (max-width: 925px) {
    .collapse {
        display: none !important;
    }

    .navbar-header {
        float: none !important;
        margin-right: -15px;
    }

    .navbar-toggle {
        display: block !important;
    }
}

#insta-feed {
    padding-top: 50px;
}