<section id="services" class="row">
  <div class="jumbotron">
      <h1 class="primary-c">Services</h1>
      <div class="row">
          <div class="col-xs-12 col-md-5 col-lg-4 img-wrapper">
            <img class="services-img" src="/assets/images/corporate-plan.png"/>
          </div>
          <div class="col-xs-12 col-md-7 col-lg-8">
            <h2 class="primary-c">Corporate Planning</h2>
            <p>Why settle for a standard holiday party when you can plan something more true to your company's personality.  From holiday parties to galas, let's use this as an opportunity to celebrate how amazing and unique your company is.</p>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-md-5 col-lg-4 img-wrapper">
              <img class="services-img" src="/assets/images/full-service-coord.png"/>
          </div>
          <div class="col-xs-12 col-md-7 col-lg-8">
              <h2 class="primary-c">Full-Service Planning</h2>
              <p>Let's be real, you're killing it at work and wedding planning is not your most exciting side hustle. All you want to do is marry your best friend and celebrate that with your family and friends!  Send me your Pinterest board, favorite colors, must-have song list and I’ll get it done so you can actually eat lunch during your lunch break!</p>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-5 col-lg-4 img-wrapper">
            <img class="services-img" src="/assets/images/month-of-coord.png"/>
        </div>
        <div class="col-xs-12 col-md-7 col-lg-8">
            <h2 class="primary-c">Month of Coordination</h2>
            <p>When you look back on your wedding day, you should remember laughing with your family and dancing with your friends. You shouldn't remember having to run around, fixing flower arrangements and checking appetizers. Let me deal with all the last minute details and emails! You're getting married! Enjoy it!</p>
        </div>
      </div>
  </div>
</section>