@import "../../constants.less";

ul.social {
    list-style: none;
    
    @media (max-width: 910px) {
        margin-bottom: 10px;
    }

    margin-bottom: 0;
    padding: 0;

    li {
        display: inline-block;
        font-size: 1.3em;
        padding: 0 15px;
    }

    .fa-twitter:hover {
        color: @twitter;
    }

    .fa-facebook:hover {
        color: @facebook;
    }

    .fa-instagram:hover {
        color: @insta;
    }

    .fa-pinterest:hover {
        color: @pinterest;
    }
}