@import "../../constants.less";

#cover img {
    width: 100%;
    height: auto;
}

.jumbotron {
    margin-top: 40px;

    > h1 {
        color: @primary-c !important;
        font-size: 30px;
    }
}