@import "./app/constants.less";

@font-face {
    font-family: adequate;
    src: url('./assets/fonts/Adequate-ExtraLight.ttf');
}

body {
    font-family: 'Lato', sans-serif !important;
    font-weight: 300 !important;
    background-color: @background-c !important;
}

.primary-c {
    color: @primary-c !important;
}

.primary-bg {
    background-color: @primary-c !important;
}

.secondary-c {
    color: @secondary-c !important;
}

.secondary-bg {
    background-color: @secondary-c;
}

.tertiary-c {
    color: @tertiary-c !important;
}

.cj {
    font-family: adequate;
}