@import "./app/constants.less";
@import url('https://fonts.googleapis.com/css?family=Lato:300|Montserrat:200,300');

@font-face {
    font-family: adequate;
    src: url('./assets/fonts/Adequate-ExtraLight.ttf');
}

// @font-face {
//     font-family: "Mesmerize";
//     src: url("./assets/fonts/mesmerize-ul.ttf");
//     font-weight: lighter;
// }
@font-face {
    font-family: "Mesmerize";
    src: url("./assets/fonts/mesmerize-el.ttf");
}
// @font-face {
//     font-family: "Mesmerize";
//     src: url("./assets/fonts/mesmerize-lt.ttf");
//     font-weight: bold;
// }
// @font-face {
//     font-family: "Mesmerize";
//     src: url("./assets/fonts/mesmerize-rg.ttf");
//     font-weight: bolder;
// }

body {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 300 !important;
    background-color: @background-c !important;
}

.primary-c {
    color: @primary-c !important;
}

.primary-bg {
    color: #FFFFFF !important;
    background-color: @primary-c !important;
}

.secondary-c {
    color: @secondary-c !important;
}

.secondary-bg {
    color: #FFFFFF !important;
    background-color: @secondary-c !important;
}

.tertiary-c {
    color: @tertiary-c !important;
}

.cj {
    font-family: adequate;
}

.juicer-feed h1.referral {
    display: none !important;
}

.has-float-label {
    margin-top: 10px;

    label {
        top: -1em;

        &::after {
            background: transparent;
        }
    }
}