<div id="blog" class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="tile" id="test1">
            <div><span>My First Blog Post</span></div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="tile" id="test2">
            <div><span>My Second Blog Post</span></div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="tile" id="test3">
            <div><span>My Third Blog Post</span></div>
        </div>
    </div>
</div>